/* code couleur */
/*--------------*/
/* orange rgb(255, 197, 117)*/
/* bleu color: rgb(62, 182, 255);  */


/* mise en page générale */
/* --------------------- */

body {
  font-size: 14px;
  font-family: verdana, sans-serif;
  height: 100%;
  margin: 0%;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
header > div, header > nav, header > p, header > div > img, header > div > h1 {
  display: inline-block;
}

ul {
  list-style: none;
}
/* mise en page header */
/* ------------------- */

header {
  position: fixed;
  width: 100%;
  top: 0;
  border: 1px solid black;
  background-color: rgb(62, 182, 255);
  height: 120px;
  color: white;
  border-bottom: 5px solid rgb(255, 197, 117);
}

header div:first-child {
  width: 50%;
}

header h1 {
  position: absolute;
  color: rgb(255, 197, 117);
  text-shadow: 2px 2px 3px black;
  top: 35%;
  font-variant-caps: small-caps;
  left: 5px;
  font-size: 3em;
}

header h1 span {
  color: white;
  font-size: 1.1em;
  font-style: italic;
}
header div:first-child img {
  margin: 10px 10px 0px 10px;
  height: 150px;
  border-radius: 5em;
}

header div:last-child {
  width: 40%;
  position: relative;
  top: -30px;
  left : 40px;
}

header div nav ul {
  display: none;
  color: white;
  font-weight: bold;
  background:rgb(62, 182, 255);
}

header div nav div:focus ul,
header div nav div:hover ul{
  display: block;
  position: absolute;
  width: 120px;
  left: -40px;
}

header div nav div ul li {
  text-align: center;
  padding: 5px;
  width: 130px;
  position: relative;
  left : -30px;
}


header div nav div ul li:hover {
  background-color: white;
  color: rgb(62, 182, 255);
}

header > div:last-child p {
  position: relative;
  font-size: 1.3em;
  font-weight: bold;
}


header div >  p > i {
  position: relative;
  top : 20px;
  left: 15px;
}

header > div:last-child > nav div {
  position: relative;
  top: -20px;
  left: 40%;
}

/* mise en page main */
/* ----------------- */

/* mise ne page #presentation */
/* -------------------------- */

#presentation video {
  display: none;
}

/* mise en page footer */
/* ------------------- */

footer {
  text-align: center;
  background-color: rgb(62, 182, 255);
  height: 30px;
  padding: 13px 0 0 0;
}

footer a {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-weight: bold;
  text-align: center;
  background-color: rgb(255, 197, 117);
  border-radius: 2em;
  border: 3px solid white;
  padding: 5px;
  /*margin: 3%;*/
}
