/* code couleur */
/*--------------*/
/* orange rgb(255, 197, 117)*/
/* bleu color: rgb(62, 182, 255);  */


/* mise en page générale */
/* --------------------- */

body {
  font-size: 12px;
  font-family: verdana, sans-serif;
  height: 100%;
  margin: 0%;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
header > div, header > nav, header > p, header > div > img, header > div > h1,
.fig > figure {
  display: inline-block;
}

ul {
  list-style: none;
}
/* mise en page header */
/* ------------------- */

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgb(62, 182, 255);
  height: 120px;
  color: white;
  border-bottom: 5px solid rgb(255, 197, 117);
}

header div:first-child {
  width: 50%;
}

header h1 {
  position: absolute;
  color: rgb(255, 197, 117);
  text-shadow: 2px 2px 3px black;
  top: 35%;
  font-variant-caps: small-caps;
  left: 5px;
  font-size: 3em;
}

header h1 span {
  color: white;
  font-size: 1.1em;
  font-style: italic;
}
header div:first-child img {
  margin: 10px 10px 0px 10px;
  height: 150px;
  border-radius: 6em;
}

header div:last-child {
  width: 40%;
  position: relative;
  top: -30px;
  left : 40px;
}

header div nav ul {
  display: none;
  color: white;
  font-weight: bold;
  background:rgb(62, 182, 255);
}

header div nav div:focus ul,
header div nav div:hover ul{
  display: block;
  position: absolute;
  width: 120px;
  left: -40px;
}

header div nav div ul li {
  text-align: center;
  padding: 5px;
  width: 130px;
  position: relative;
  left : -30px;
}


header div nav div ul li:hover {
  background-color: white;
  color: rgb(62, 182, 255);
}

header > div:last-child p {
  position: relative;
  font-size: 1.3em;
  font-weight: bold;
}


header div >  p > i {
  position: absolute;
  top : -20%;
  left: -10%;
}

header > div:last-child > nav div {
  position: relative;
  top: -20px;
  left: 40%;
}

/* mise en page main */
/* ----------------- */

h2, h3, aside figcaption {
  color : rgb(62, 182, 255);
  text-shadow: 1px 1px black;
}
h2 {
font-size:1.8em;
}

h3 {
  font-size: 1.5em;
}

main {
  width: 90%;
  margin: 180px auto auto auto;
  text-align: justify;
}
/* mise ne page #presentation */
/* -------------------------- */

#presentation video {
  display: none;
}

#presentation > img:nth-of-type(2) {
  display: none;
}

#presentation > img {
  max-width: 250px;
  width: 60%;
  margin : 0px 20% 0px 20% ;

}

#presentation > section p img {
  float: right;
  max-width: 200px;
  width: 30%;
  margin-left: 3%;
}
/* mise en page aside */
/* ------------------- */


main > aside > div {
  width: 100%;
  border-top: 4px solid rgb(62, 182, 255);
  padding-top: 10px;
  margin: 10px 0;
}
main > aside > div > figure {
  background-color: rgb(255, 197, 117);
  width: 30%;
  margin: 0px 4px;
  border-radius: 20rem;
  text-align: center;
  padding-top: 0.7%;
  position: relative;
}

main > aside > div > figure:nth-last-of-type(-n+5){
  display: none;
}

figcaption {
  position: absolute;
  bottom : 0em;
  color: rgb(62, 182, 255);
  font-weight: bold;
}

main > aside> div > figure > img {
  width: 95%;
  border-radius: 6rem;
}
/* mise en page footer */
/* ------------------- */

footer {
  text-align: center;
  background-color: rgb(62, 182, 255);
  height: 30px;
  padding: 13px 0 0 0;
}

footer a {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-weight: bold;
  text-align: center;
  background-color: rgb(255, 197, 117);
  border-radius: 2em;
  border: 3px solid white;
  padding: 5px;
  /*margin: 3%;*/
}
